.upper-wrapper {
  display: flex;
}
.left-side,
.righ-side {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.middle-part {
  display: block;
  flex-grow: 1;
  margin: 0 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.entity-field {
  position: relative;
  min-width: 800px;
  min-height: 800px;
}
.top-field,
.bottom-field {
  min-height: 200px;
  display: flex;
  justify-content: flex-start;
}
