.upper-wrapper {
  position: relative;
  height: 96vh;
}

.top-field,
.bottom-field,
.left-side,
.right-side {
  position: absolute;
}

.left-side,
.right-side {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-side {
  bottom: 0;
  left: 0;
}

.right-side {
  top: 0;
  right: 0;
}

.top-field {
  top: 0;
  left: 0;
}

.bottom-field {
  bottom: 0;
  right: 0;
}

.entity-field {
  position: absolute;
  left: 22%;
  margin-left: -50px;
  top: 28%;
  margin-top: -50px;
}

.top-field,
.bottom-field {
  min-height: 200px;
  display: flex;
  justify-content: flex-start;
}
