.drawer-content {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  gap: 30px;
}

.add-new {
  display: flex;
  align-items: center;
  gap: 20px;
}

.drawer-content {
  width: 520px;
}

.diagram-config > .MuiButton-root {
  padding: 2px 5px;
}
