.top-panel {
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(89 119 121 / 51%);
  border-bottom: 1px solid rgb(89 119 121 / 99%);
  padding: 0 30px;
}
