.diagram-wrapper > .diagram-component {
  width: 61vw;
  height: 50vh;
  border: solid 2px black;
  border-radius: 5px;
  background-color: whitesmoke;
}

.diagram-wrapper > .mode-buttons > button {
  display: flex;
}
